@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  margin: 0;
  font-family: 'Urbanist', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* div#root {
  overflow-x: hidden;
} */

.register{
  background: linear-gradient(45deg,#000000bd,#000000bb),url(../src/img/1.jpg)no-repeat;
  background-size: cover;
  background-position: center 25%;
}

.login{
  background: linear-gradient(45deg,#000000bd,#000000bb),url(../src/img/HOME-2.jpg)no-repeat;
  background-size: cover;
  background-position: center 25%;
}
.sc-bdvvtL.itQDGB{
  background: linear-gradient(45deg,#d12d69bd,#000000bb),url(../src/img/pay.jpg)no-repeat;
  background-size: cover;
  background-position: center 25%;
}



.login input::placeholder {
  color: #ffffffc2;
  text-transform: uppercase;
  font-size: 11px;
}
.register input::placeholder {
  color: #ffffffc2;
  text-transform: uppercase;
  font-size: 11px;
}

.ilQuic {
  padding: 19px 25px;
  font-weight: 300;
  cursor: pointer;
  border: none;
  background: black;
  color: white;
}



div#root {
  overflow-x: hidden;
}

.sc-kDTinF::placeholder {
  color: #fafafa !important;
  text-transform: uppercase !important;
  font-size: 11px !important;
}

